html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #C839C5;
  color: white;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #C839C5;
  color: white;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #C839C5;
  color: white;
}

::-ms-selection {
  background-color: #C839C5;
  color: white;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #C839C5;
  color: white;
}
